.text-12{
    font-size: 12px;
    color:black;
}

.text-25{
    font-size: 35px;
    font-weight: bold;
    color: white;

}
.color-yellow{
    color: rgb(193, 168, 6);
}
.text-white{
    color: white;
}