*{
  padding: 0;
  margin: 0;
}
.banner-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/banner.jpg");
  display: flex;
  align-items: center;
  height: 70vh;
  background-position: center center;
  background-size: cover;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: -15px;
}